/**
 * @package 	WordPress
 * @subpackage 	Galleria Metropolia
 * @version		1.0.0
 * 
 * WooCommerce Responsive CSS Rules
 * Created by CMSMasters
 * 
 */



@import "../../../../../theme-framework/theme-style/css/less/general.less";


@monitor_tablet_large: ~'(min-width: 950px) and (max-width: 1440px)';


@media only screen {
/*-------------------------------------------------------------------------*/
/* Large Monitor
/*-------------------------------------------------------------------------*/
@media @monitor_large {
	ul.order_details {
		li {
			padding:15px 30px;
			
			strong {
				margin:15px -30px -15px;
				padding:15px 30px;
				border-color: inherit;
			}
		}
	}
}

@media @monitor_tablet_large {	
	.widget_shopping_cart .cart_list img {
		width:50px;
		height:50px;
	}
	
	.widget_shopping_cart .cart_list li:hover img {
		right:20px;
		left:auto;
	}
	
	.widget_price_filter .price_slider_amount {
		.price_label {
			width:100%;
		}
		
		.button {
			float:none;
		}
	}
	
	.widget_shopping_cart .cart_list li {
		padding:10px 75px 10px 0;
	}
	
	.widget_price_filter .price_slider_amount .button {
		float:none;
		transform:translate(0, 100%);
	}
	
	.widget_price_filter .price_slider_amount .price_label {
		transform:translate(0, -100%);
	}
}


/*-------------------------------------------------------------------------*/
/* Medium Monitor
/*-------------------------------------------------------------------------*/
@media @monitor_medium {
	.cmsmasters_products {
		outline:none; 
	}
	
	.cmsmasters_dynamic_cart_wrap {
		margin:0 0 0 -1px;
		padding:0;
		.bdl;
		.bdr;
		
		.cmsmasters_dynamic_cart_button {
			padding:0 20px;
		}
	}
}



/*-------------------------------------------------------------------------*/
/* Tablet Monitor
/*-------------------------------------------------------------------------*/
@media @monitor_tablet {	
	#page .cmsmasters_dynamic_cart {
		.dn !important;
	}
	
	#header .header_mid {
		.cmsmasters_header_cart_link_wrap {
			display:block;
			height:100%;
			margin:0;
			padding:0 35px;
			position:relative;
			.fr;
			.bdl;
			.bdr(0);
			
			&:after {
				.valign_after;
			}
			
			.cmsmasters_header_cart_link {
				font-size:16px;
				line-height:16px;
				width:20px;
				height:20px;
				margin:0;
				cursor:pointer;
				display:inline-block;
				position:relative;
				vertical-align:middle;
				
				&:before {
					.pos_abs;
				}
			}
		}
	}
	
	#page.enable_header_centered  #header .header_mid_inner .cmsmasters_header_cart_link_wrap {
		padding:10px 0;
		float:none;
		.bd(0);
		.tac;
	}
	
	.cmsmasters_products.columns-6 .product {
		width:round((100% / 3) - (@col_mar * 2), 2);
		
		&:nth-child(6n+1) {
			clear:none;
		}
		
		&:nth-child(3n+1) {
			clear:left;
		}
	}
	
	.cmsmasters_products.columns-5 .product {
		width:round((100% / 3) - (@col_mar * 2), 2);
		
		&:nth-child(5n+1) {
			clear:none;
		}
		
		&:nth-child(3n+1) {
			clear:left;
		}
	}
	
	.cmsmasters_products.columns-4 .product {
		width:round((100% / 2) - (@col_mar * 2), 2);
		
		&:nth-child(4n+1) {
			clear:none;
		}
		
		&:nth-child(2n+1) {
			clear:left;
		}
	}
	
	ul.order_details {
		.flex_wrap(wrap);
		
		li {
			width:50%;

			&.woocommerce-order-overview__payment-method {
				strong {
					.bd(0);
				}
			}
			
			&:nth-child(5) {
				width:100%;
			}

			&:not(:last-child) {
				strong {
					.bdb();
					.bdt(0)
				}
			}
		}
	}
	
	.cmsmasters_product {
		.button_to_cart_wrap {
			margin-top:5px;
			position:relative;
			left:auto;
			top:auto;
			height:auto;
			width:auto;
			visibility:visible;
			.op(1);
		}
		
		.price {
			#page & {
			    visibility:visible;
				.op(1);
			}
		}
	}
}

@media @monitor_tablet_950 {
	#page {
		.widget_shopping_cart {
			.cart_list {
				li	{
					padding:10px 0 10px 115px;
					
					img {
						right:auto;
						left:0;
					}
					
					&:hover img {
						right: auto;
						left: 28px;
					}
					
					.remove {
						right:auto;
						left:0;
					}
				}
			}
			
			.buttons {
				margin:0;
				
				.button {
					width:auto;
					padding:0 20px;
					margin:0 20px 20px 0;
				}
			}
		}
		
		.widget > .product_list_widget li {
			padding:0 0 0 100px;
			
			img {
				right:auto;
				left:0;
			}
		}
	}
}



/*-------------------------------------------------------------------------*/
/* Small Tablet Monitor
/*-------------------------------------------------------------------------*/
@media @monitor_tablet_small {
	.cmsmasters_dynamic_cart_wrap {
		margin:0 15px 15px;
		float:none;
		display:inline-block;
		vertical-align:middle;
	}
	
	.cmsmasters_dynamic_cart, 
	.cmsmasters_dynamic_cart .cmsmasters_dynamic_cart_button {
		display:inline-block;
		vertical-align:middle;
	}
	
	.col2-set {
		> * {
			width:round(100% - (@col_mar * 2), 2);
			margin-bottom:40px;
			float:none;
			.cl;
			
			&:last-child {
				margin-bottom:0;
			}
		}
	}
	
	.cmsmasters_single_product {
		.cmsmasters_product_left_column {
			width:100%;
			float:none;
			padding:0 0 40px;
		}
		
		.cmsmasters_product_right_column {
			width:100%;
			float:none;
			padding:0;
		}
	}
	
	.shop_table.cart {
		display:block;
		.tac;
		.ovh;
		
		tbody, 
		tr, 
		th, 
		td {
			display:block; 
			.tac;
			.ovh;
		}
		
		thead {
			.dn;
		}
		
		.cart_item {
			padding:20px 0;
			position:relative;
			
			th, 
			td { 
				.bd(0);
			}
		}
		
		td {
			padding:15px;
			.bd(0);
			.bxsh_none;
			
			&.product-name {
				.bdt;
			}
			
			&.product-price, 
			&.product-quantity, 
			&.product-subtotal {
				.bd(0);
			}
		}
		
		.product-remove {
			padding:0;
			position:absolute;
			left:auto;
			right:0;
			top:20px;
			z-index:1;
		}
		
		.product-thumbnail {
			width:auto;
			padding-left:0;
			padding-right:0;
			.tac;
			
			img {
				width:80px;
				height:80px;
			}
		}
		
		.product-price, 
		.product-quantity, 
		.product-subtotal {
			display:inline-block;
			width:33.33%;
			margin:0 -2px;
			vertical-align:middle;
		}
		
		.product-price {
			.tar;
		}
		
		.product-quantity {
			padding-left:0;
			padding-right:0;
		}
		
		.product-subtotal {
			.tal;
		}
		
		.actions {
			.tac;
			
			.coupon {
				padding:0 0 20px;
				float:none;
				.tac;
				
				input {
					float:none;
				}
			}
			
			.input-text {
				display:block;
				margin:0 auto 10px;
				width:100%;
			}
		}
	}
	
	
	.woocommerce-order-pay .shop_table, 
	.shop_table.woocommerce-checkout-review-order-table, 
	.shop_table.order_details {
		th, 
		td {
			padding:10px 15px;
		}
	}
	
	.cart_totals {
		table {
			width:100%;
		}
	}
	
	ul.order_details {
		li {
			padding:10px 15px;
			position:relative;
			.fl;
			.ovh;
			
			&:before {
				content:none;
			}
			
			strong {
				display:block;
				margin:10px -15px -10px;
				padding:10px 15px;
			}
		}
	}
}



/*-------------------------------------------------------------------------*/
/*	Tablet Monitor 600
/*-------------------------------------------------------------------------*/
@media @monitor_tablet_600 {
	.cmsmasters_products.columns-6 .product, 
	.cmsmasters_products.columns-5 .product, 
	.cmsmasters_products.columns-3 .product {
		width:round(100% - (@col_mar * 2), 2);
		float:none;
		
		&:nth-child(n) {
			.cl;
		}
	}
}



/*-------------------------------------------------------------------------*/
/* Phone Monitor
/*-------------------------------------------------------------------------*/
@media @monitor_phone {
	.cmsmasters_products.columns-6 .product, 
	.cmsmasters_products.columns-5 .product, 
	.cmsmasters_products.columns-4 .product, 
	.cmsmasters_products.columns-3 .product, 
	.cmsmasters_products.columns-2 .product {
		width:round(100% - (@col_mar * 2), 2);
		float:none;
		
		&:nth-child(n) {
			.cl;
		}
	}
	
	.form-row {
		width:round(100% - (@col_mar * 2), 2);
		float:none;
		.cl;
	}
	
	.woocommerce-checkout-payment .place-order .terms {
		display:block;
		padding:15px 0 0;
	}
	
	.woocommerce-message, 
	.woocommerce-info, 
	.woocommerce-error {
		display:block;
		.tac;
	
		.button {
			display:block;
			margin:10px 0;
			.tac;
		}
	}
	
	table.variations {
		select {
			display:block;
		}
		
		.reset_variations {
			display:inline-block;
			margin:10px 0 0;
		}
	}
	
	.cmsmasters_woo_wrap_result {
		.woocommerce-result-count {
			padding:0 10px 20px;
			float:none;
			.tac;
		}
		
		.woocommerce-ordering {
			float:none;
		}
	}
	
	.cmsmasters_single_product {
		.cmsmasters_product_thumbs {
			.cmsmasters_product_thumb {
				width:60px;
			}
		}
		
		.cmsmasters_product_info_wrap {
			float:none;
			padding:0 0 30px;
			.tal;
		}
		
		.price {
			.tal;
		}
		
		.cmsmasters_star_rating {
			float:none;
		}
	}
	
	.woocommerce-checkout-payment {
		padding:20px 15px;
	}
	
	ul.order_details {
		li {
			width:100%;
			float:none;
		}
	}
	
	#page .cmsmasters_single_product .cart * {
		margin:0 0 10px;
		width:100%;
		float:none;
	}
}
}

