/**
 * @package 	WordPress
 * @subpackage 	Galleria Metropolia
 * @version 	1.0.4
 * 
 * WooCommerce CSS Rules
 * Created by CMSMasters
 * 
 */



@import "../../../../../theme-framework/theme-style/css/less/general.less";

@preloader_product_page_pad: 141.5%;


/*-------------------------------------------------------------------------*/
/* Global Styles
/*-------------------------------------------------------------------------*/

/* Shop */
body .cmsmasters_theme_icon_basket:before { content: '\e858'; font-family:'fontello-custom'; }
.cmsmasters_theme_icon_star_empty:before { content: '\e8aa'; }
.cmsmasters_theme_icon_star_full:before { content: '\e8aa'; }


.woocommerce {
	ul {
		list-style-type: none;
	}
	
	&:after {
		.cl_after;
	}
}

.woocommerce-page .content_wrap.fullwidth {
	padding-top:0;
	padding-bottom:40px;
}

.woocommerce-store-notice {
	display:block;
	width:100%;
	margin:0;
	padding:10px 50px 10px 20px;
	position:fixed;
	left:0;
	bottom:0;
	z-index:99999;
	
	p {
		margin:0;
		padding:0;
		
		a {
			.op(.8);
			
			&:hover {
				.op(1);
			}
		}
	}
	
	.woocommerce-store-notice__dismiss-link {
		font-size:13px;
		line-height:1em;
		width:20px;
		height:20px;
		margin:auto;
		position:absolute;
		left:auto;
		right:20px;
		top:0;
		bottom:0;
		
		&:before {
			.pos_abs;
		}
		
		&:hover {
			.op(.8);
		}
	}
}

.product .preloader {
	padding-bottom:@preloader_product_page_pad;
	
	img {
		width:100%;
		min-width:100%;
		height:100%;
		position:absolute;
		left:0;
		top:0;
	}
}


/* Star Rating */
.cmsmasters_star_rating {
	width:73px;
	height:12px;
	display:block;
	position:relative;
	.ovh;
	
	.cmsmasters_star {
		font-size:12px;
		width:13px;
		height:100%;
		display:block;
		margin-left:2px;
		margin-right:0;
		position:relative;
		.ovh;
		.fl;
		
		&:first-child {
			margin-left:0;
		}
		
		&:before {
			.pos_abs;
		}
	}
	
	.cmsmasters_star_trans_wrap {
		height:100%;
		position:relative;
		.ovh;
	}
	
	.cmsmasters_star_color_wrap {
		height:100%;
		position:absolute;
		left:0;
		top:0;
		.ovh;
	}
	
	.cmsmasters_star_color_inner {
		width:73px;
		height:100%;
		position:relative;
		.ovh;
	}
}

.comment-form-rating {
	position:relative;
	.ovh;
	
	.stars {
		> span {
			display:block;
			width:65px;
			height:14px;
			position:relative;
			.ovh;
			
			&:before, 
			a:before {
				font-family:"fontello";
				line-height:1em;
				font-style:normal;
				font-weight:normal;
				text-decoration:inherit;
				text-align:center;
				vertical-align:baseline;
				font-variant:normal;
				text-transform:none;
				speak:none;
				-webkit-font-smoothing:antialiased;
				-moz-osx-font-smoothing:grayscale;
				
				font-size:14px;
				text-indent:0;
				display:block;
				width:100%;
				height:100%;
				position:absolute;
				left:0;
				top:0;
			}
			
			&:before {
				content:'\e8aa\e8aa\e8aa\e8aa\e8aa';
			}
			
			a:before {
				content:'\e8aa\e8aa\e8aa\e8aa\e8aa';
			}
		
			a {
				color:transparent;
				text-indent:9999px;
				height:100%;
				display:block;
				position:absolute;
				left:0;
				top:0;
				.ovh;
			
				&.star-1 {
					width:13px;
					z-index:10;
				}
				
				&.star-2 {
					width:26px;
					z-index:9;
				}
				
				&.star-3 {
					width:39px;
					z-index:8;
				}
				
				&.star-4 {
					width:52px;
					z-index:7;
				}
				
				&.star-5 {
					width:65px;
					z-index:6;
				}
			}
		}
	}
}


/* Sale */
.onsale, 
.out-of-stock, 
.stock {
	display:block;
	position:absolute;
	left:0;
	right:0;
	top:0;
	z-index:10;
	.ovh;
	.tac;
	
	span {
		padding:8px 22px;
		display:inline-block;
	}
}

.outofstock .onsale {
	.dn;
}


/* checkbox and radio */
label {
	> .input-checkbox, 
	> .input-radio, 
	> input.shipping_method {
		float:none;
		width:auto;
		height:auto;
		position:relative;
		left:auto;
		top:auto;
		bottom:auto;
		.op(1);
	}
}

.input-checkbox, 
.input-radio, 
input.shipping_method,
.woocommerce-form__input-checkbox {
	.fl;
	.op(0);
	.pos_abs(1em, 1em, 0, auto);

	+ label {
		display:inline-block;
		padding:0 0 0 25px;
		position:relative;
		cursor:pointer;
		
		&:before {
			content:'';
			.bd;
			.pos_abs(17px, 17px, 1px, auto);
		}
		
		&:after {
			content:'';
			-webkit-transform:scale(0);
			-moz-transform:scale(0);
			transform:scale(0);
			.pos_abs(9px, 9px, 5px, auto);
			.op(0);
		}
	}
	
	&:checked {
		+ label {
			&:after {
				-webkit-transform:scale(1);
				-moz-transform:scale(1);
				transform:scale(1);
				.op(1);
			}
		}
	}
}

label.checkbox {
	display:inline-block;
	padding:0 0 0 25px;
	
	+ input {
		visibility:visible;
		.op(1);
	}
}

.input-radio, 
input.shipping_method {
	+ label {
		&:before, 
		&:after {
			.bdrs(50%);
		}
	}
}


/* Shipping */
#shipping_method {
	padding:0;
	margin:0;
	
	li {
		.ovh;
		
		&:before {
			content:none;
		}
	}
	
	+ p {
		padding:20px 0 0;
	}
}

.woocommerce-message, 
.woocommerce-info, 
.woocommerce-error {
	padding:25px;
	margin-bottom:50px;
	float:none;
	position:relative;
	.bd;
	.cl;
	.ovh;
	.display_flex;
	.justify_content;
	.flex_direction;
	.align_items(center);
	
	.button {
		min-width:110px;
		margin-right:30px;
		margin-left:0;
		padding:0 10px;
	}
	
	> * {
		margin:0 10px;
	}
}

.woocommerce-error {
	li {
		padding:0;
		margin:0;
		
		&:before {
			content:none;
		}
	}
}

.woocommerce-NoticeGroup {
	.woocommerce-message, 
	.woocommerce-info, 
	.woocommerce-error {
		display:block;
		
		li {
			display:block;
			width:100%;
		}
	}
}


/* Quantity */
.quantity {
	display:inline-block;
	vertical-align:middle;
	position:relative;
	.ovh;
 	
	.screen-reader-text {
		display:none;
	}
	
	.text {
		display:block;
		width:65px;
		min-width:0;
	}
}


/* Variation */
table.variations {
	tr {
		.bd(0);
		
		td {
			padding:5px 0 0;
		}
		
		&:first-child {
			td {
				padding:0;
			}
		}
	}
	
	.reset_variations {
		margin-left:10px;
		margin-right:0;
	}
}

.single_variation_wrap {
	.woocommerce-variation-description {
		border:0 !important;
		margin:20px 0 0;
		
		> *:last-child {
			margin:0;
			padding:0;
		}
	}
	
	.single_variation {
		margin:20px 0 0;
		.ovh;
		
		.stock {
			display:inline-block !important;
			margin:0 0 0 10px;
			vertical-align:middle;
			position:static;
		}
	}
	
	.variations_button {
		margin:20px 0 0;
		.ovh;
	}
}

dl.variation {
	display:block;
	padding:0;
	.ovh;
	
	&:after {
		.cl_after;
	}
	
	dt,
	dd, 
	p {
		display:block;
		margin:0;
		padding:0;
		.ovh;
	}
	
	dt {
		padding-left:0;
		padding-right:10px;
		float:left;
		clear:left;
	}
	
	dd {
		float:left;
	}
}


/* Col2-set */
.col2-set {
	margin:0 -@col_mar 30px;
	position:relative;
	.ovh;

	> * {
		width:round((100% / 2) - (@col_mar * 2), 2);
		margin:0 @col_mar;
		position:relative;
		.fl;
		.ovh;
	}
}


/* Form Row Styles */
.form-row {
	width:round((100% / 2) - (@col_mar * 2), 2);
	margin:0 @col_mar;
	position:relative;
	.fl;
	
	&:after {
		.cl_after;
	}
	
	&.form-row-wide, 
	&.notes, 
	&.place-order {
		width:round(100% - (@col_mar * 2), 2);
		float:none;
		.cl;
	}
	
	&.place-order {
		width:auto;
		margin:0;
	}
	
	label {
		display:block;
		padding:0 0 5px;
		
		input, 
		span {
			display:inline-block;
			vertical-align:middle;
		}
	}
	
	select, 
	input, 
	textarea {
		width:100%;
		max-width:100%;
	}
	
	textarea {
		min-height:200px;
	}
	
	input[type="checkbox"], 
	input[type="radio"], 
	input[type="submit"], 
	input[type="button"] {
		width:auto;
	}
}


/* Amount Styles */
.amount {
	white-space:nowrap;
}


/* Remove Button Styles */
#page .remove {
	font-size:19px;
	line-height:24px;
	font-weight:normal;
	text-indent:1px;
	display:inline-block;
	width:26px;
	height:26px;
	margin:0 1px;
	.tac;
}



/*-------------------------------------------------------------------------*/
/* Shop Page
/*-------------------------------------------------------------------------*/

.cmsmasters_woo_wrap_result {
	padding:0 0 45px;
	position:relative;
	.ovh;
	.cl;
	
	select {
		width:100%;
		max-width:100%;
	}
	
	.woocommerce-result-count {
		padding:10px;
		.fr;
	}
	
	.woocommerce-ordering {
		.fl;
	}
}

.cmsmasters_products {
	margin:-40px -@col_mar 0;
	padding:0;
	overflow:hidden;
	position:relative;
	
	.product {
		width:round((100% / 4) - (@col_mar * 2), 2);
		margin:0 @col_mar;
		padding:40px 0 0;
		position:relative;
		word-wrap:break-word;
		.ovh;
		.fl;
		
		&:before {
			content:none;
		}
		
		.columns-6& {
			width:round((100% / 6) - (@col_mar * 2.1), 2);
			
			&:nth-child(6n+1) {
				clear:left;
			}
		}
		
		.columns-5& {
			width:round((100% / 5) - (@col_mar * 2), 2);
			
			&:nth-child(5n+1) {
				clear:left;
			}
		}
		
		.columns-4& {
			width:round((100% / 4) - (@col_mar * 2), 2);
			
			&:nth-child(4n+1) {
				clear:left;
			}
		}
		
		.columns-3& {
			width:round((100% / 3) - (@col_mar * 2), 2);
			
			&:nth-child(3n+1) {
				clear:left;
			}
		}
		
		.columns-2& {
			width:round((100% / 2) - (@col_mar * 2), 2);
			
			&:nth-child(2n+1) {
				clear:left;
			}
		}
		
		.columns-1& {
			width:round(100% - (@col_mar * 2), 2);
			float:none;
			.cl;
		}
	}
}

.product-category {
	.woocommerce-loop-category__title {
		padding:12px 18px;
		position:relative;
		.ovh;
		.tac;
		
		mark {
			color:inherit;
			background:inherit;
		}
	}
}

.product .cmsmasters_product_img img:not(:first-child) {
	width:100%;
	min-width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
}

.cmsmasters_product {
	margin:0 1px 2px;
	padding:0;
	position:relative;
	.ovh;
	
	&:hover {
		.button_to_cart_wrap {
			.op(1);
			visibility:visible;
		}
		
		.price {
			.op(0);
			visibility:hidden;
			
			.product-type-variable &,
			.outofstock & {
				.op(1);
				visibility:visible;
			}
		}
	}
	
	.cmsmasters_product_img {
		position:relative;
		.ovh;
		
		img {
			width:100%;
			
			&:nth-child(2) {
				.op(0);
			}
		}
		
		&:hover {
			img:nth-child(2) {
				.op(1);
			}
		}
	}
	
	.button_to_cart_wrap {
		position:absolute;
		left:0;
		top:0;
		width:100%;
		height:100%;
		.tac;
		visibility:hidden;
		.op(0);
	}
	
	.button_to_cart {
		position:relative;
		display:block;
		
		&.added_to_cart {
			.dn;
		}
		
		&.added {
			.dn;
			
			+ .added_to_cart {
				display:block;
			}
		}
		
		&.loading {
			text-indent:-9999px;
			
			&:before {
				content:'\e9fd';
				font-family:"fontello";
				font-style:normal;
				font-weight:normal;
				speak:none;
				display:inline-block;
				text-decoration:inherit;
				width:1em;
				text-align:center;
				vertical-align:baseline;
				font-variant:normal;
				text-transform:none;
				line-height:1em;
				-webkit-font-smoothing:antialiased;
				-moz-osx-font-smoothing:grayscale;
				-webkit-animation:spin 2s infinite linear;
				-moz-animation:spin 2s infinite linear;
				animation:spin 2s infinite linear;
				
				font-size:16px;
				text-indent:0;
				.pos_abs;
			}
		}
	}
	
	.cmsmasters_product_inner {
		padding:20px 20px 15px;
		margin-top:16px;
		position:relative;
		.tac;
		
		&:before {
			content:'';
			z-index:1;
			.pos_abs(1px, 40px, 0, 0, -36px, auto);
		}
	}
	
	.cmsmasters_product_header {
		padding:0;
	}
	
	.cmsmasters_product_title {
		margin:0;
	}
	
	.cmsmasters_product_cat {
		.ovh;
		.tac;
		margin-bottom:5px;
	}
	
	.cmsmasters_product_info {
		margin:10px 0 0;
		position:relative;
		.tac;
	}
	
	.cmsmasters_star_rating {
		margin:20px auto 4px;
		display:block;
	}
	
	.price {
		display:block;
		position:relative;
		padding:0 2px;
		
		del {
			margin:0 5px 0 0;
			vertical-align:middle;
			white-space:nowrap;
		}
		
		ins {
			text-decoration:none;
			vertical-align:middle;
			white-space:nowrap;
		}
	}
}



/*-------------------------------------------------------------------------*/
/* Single Product
/*-------------------------------------------------------------------------*/

.cmsmasters_single_product {
	margin:0;
	padding:0;
	position:relative;
	.ovh;

	.group_table {

		td,
		th {
			padding: 10px 5px;
			vertical-align: middle;

			&:first-child {
				padding-left: 10px;
			}

			&:last-child {
				padding-right: 10px;
			}
		}

		.product_type_variable {
			line-height: 1.5;
			padding: 5px;
		}

		.woocommerce-grouped-product-list-item {
			&__quantity {
				.quantity {
					margin: 0;

					.input-text {
						width: 80px;
					}
				}
			}
		}
	}
	
	.cmsmasters_product_left_column {
		width:47.5%;
		position:relative;
		.fl;
		.ovh;
		
		.onsale, 
		.out-of-stock, 
		.stock {
			position:absolute;
			top:0;
			left:0;
			right:auto;
			margin:0;
		}
	}
	
	.cmsmasters_product_images {
		position:relative;
		.ovh;
	}
	
	.cmsmasters_product_image {
		display:block;
		max-width:100%;
		position:relative;
		.tac;
		
		img {
			width:100%;
			height:auto;
			max-width:100%;
		}
	}
	
	.cmsmasters_product_thumbs {
		display:block;
		position:relative;
		.ovh;
		
		.cmsmasters_product_thumb {
			display:block;
			width:82px;
			margin:20px 22px 0 0;
			position:relative;
			.tac;
			.fl;
			
			&:last-child {
				margin:20px 0 0;
			}
		}
	}
	
	.cmsmasters_product_right_column {
		width:52.5%;
		padding:0 0 0 50px;
		position:relative;
		.fr;
		.ovh;
		
		.out-of-stock {
			.dn;
		}
	}
	
	.cmsmasters_product_title_info_wrap {
		position:relative;
		.ovh;
		.cl;
	}
	
	.price {
		margin:30px 0 0;
		padding:0;
		.cl;
		
		del {
			margin:0 3px 0 0;
			vertical-align:middle;
		}
		
		ins {
			text-decoration:none;
			vertical-align:middle;
		}
	}
	
	.cmsmasters_star_rating {
		margin:15px 0 0;
		.fr;
	}
	
	.product_title {
		margin:0 0 10px;
		.fl;
	}
	
	.product_meta {
		padding:20px 0 0;
		position:relative;
		.ovh;
		
		> span {
			display:block;
		}
	}
	
	.cmsmasters_product_content {
		padding:36px 0 0;
		position:relative;
		.ovh;
	}
	
	.onsale, 
	.out-of-stock, 
	.stock {
		position:relative;
		display:block;
		margin:20px 0 0;
		padding:0;
		.tal;
	}
	
	.cart {
		padding:20px 0 0;
		position:relative;
		.ovh;
		
		.quantity {
			margin:0 20px 20px 0;
		}
		
		.single_add_to_cart_button {
			vertical-align:middle;
			margin:0 0 20px;
		}
	}
	
	.quantity .text {
		width:120px;
	}
}

#page .cmsmasters_woo_tabs {
	margin:50px 0 0;
	padding:0;
	.ovh;
	
	&:before {
		content:none;
	}

	.cmsmasters_tabs_list {
		padding: 0;
	}
	
	.cmsmasters_tab_inner {
		padding:0;
		
		> h2 {
			.dn;
		}
	}
	
	.cmsmasters_tabs_list_item {
		margin:0 54px 20px 0;
		a {
			padding:0;
		}
	}
}

.shop_attributes {
	tr {
		.bd(0);
		.bdb;
	}
	
	th {
		width:170px;
		padding:5px 10px 5px 0;
	}
	
	td {
		padding:5px 0;
	}
	
	p {
		margin:0;
		padding:0;
	}
}

section.products {
	margin:50px 0 0;
	position:relative;
	.ovh;
	
	> h2 {
		margin:0;
		padding:0 0 25px;
	}
}

.page-description {
	margin:0 -@col_mar;
}

#review_form_wrapper {
	margin:20px 0 0;
	
	.stars {
		padding:0;
	}
}



/*-------------------------------------------------------------------------*/
/* Cart
/*-------------------------------------------------------------------------*/

.shop_table {
	border-spacing:0;
	border-collapse:separate;
	width:100%;
	margin:0 0 50px;
	position:relative;
	
	thead, 
	tr {
		width:100%;
		position:relative;
		.ovh;
	}
	
	thead {
		th {
			padding:15px 0;
			.bdt;
			.bdb(0);
		}
	}
	
	tbody {
		tr {
			&:first-child {
				td,
				th {
					.bdt;
				}
			}
		}
	}
	
	thead {
		th, 
		td {
			.woocommerce-order-pay &, 
			.woocommerce-checkout-review-order-table&, 
			.order_details& {
				padding:16px 30px;
			}
		}
	}
	
	th, 
	td {
		padding:16px 0;
		vertical-align:middle;
		position:relative;
		.tal;
		.ovh;
		.bdb;
		
		&:first-child {
			.bdl;
		}
		
		&:last-child {
			.bdr;
		}
		
		.woocommerce-order-pay &, 
		.woocommerce-checkout-review-order-table&, 
		.order_details& {
			padding:11px 30px;
		}
	}
	
	.product-remove {
		width:60px;
		padding:0 20px;
	}
	
	.product-thumbnail {
		width:96px;
		padding-left:0;
		padding-right:36px;
		
		img {
			width:60px;
			height:60px;
		}
	}
	
	.product-name {
		outline:none;
	}
	
	.product-price {
		outline:none;
	}
	
	&.order_details td {
		&.woocommerce-table__product-name {
			ul {
				padding:5px 0 0;
				
				&:last-child {
					margin:0;
				}
			}
			
			li {
				padding:0;
				
				&:before {
					content:none;
				}
				
				> strong,
				> p {
					display:inline-block;
					vertical-align:middle;
					
					&:last-child {
						padding-bottom:0;
					}
				}
				
				> strong {
					padding:0 10px 0 0;
					clear:left;
				}
			}
		}
	}
	
	.amount {
		outline:none;
	}
	
	.actions {
		padding:21px 24px;
		.tar;
		.cl;
		
		.coupon {
			position:relative;
			.fl;
			.ovh;
			
			label {
				.dn;
			}
			
			input {
				margin:0 -1px 0 0;
				.fl;
				
				&:last-child {
					margin:0;
				}
			}

			#coupon_code {
				margin-right: 20px;
			}
		}
		
		.input-text {
			width:260px;
			margin:0 0 0 1px;
		}
	}
	
	.product-quantity {
		input:not([type=submit]):not([type=button]):not([type=radio]):not([type=checkbox]) {
			padding-top:7px;
			padding-bottom:7px;
		}
	}
	
	strong.product-quantity {
		font-weight:normal;
	}
}

.cross-sells {
	margin-bottom:50px;
	
	h2 {
		margin-bottom:0;
	}
}

.cart_totals {
	position:relative;
	.ovh;
	
	> h2 {
		position:relative;
		margin:0 0 28px;
	}
	
	table {
		border-spacing:0;
		border-collapse:separate;
		width:50%;
		position:relative;
		margin:0 0 10px;
		
		tr {
			width:100%;
			position:relative;
			.ovh;
		}
		
		th, 
		td {
			padding:15px 20px;
			vertical-align:middle;
			position:relative;
			.tal;
			.ovh;
		}
		
		th {
			width:43%;
		}
		
		td {
			width:57%;
			.tar;
		}
		
		input[type="checkbox"], 
		input[type="radio"] {
			left:auto;
			right:0;
			.fr;
		
			+ label {
				padding-left:0;
				padding-right:25px;
				.fr;
				
				&:before {
					left:auto;
					right:0;
				}
			}
		}
		
		input[type="checkbox"] {
			+ label {
				&:after {
					left:auto;
					right:3px;
				}
			}
		}
		
		input[type="radio"] {
			+ label {
				&:after {
					left:auto;
					right:4px;
				}
			}
		}
	}
}

.woocommerce-shipping-calculator {
	padding:20px 0 0;
	position:relative;
	.ovh;
	
	> p {
		margin:0;
		padding:0;
	}
}

.shipping-calculator-form {
	margin:20px -@col_mar 0;
	
	> * {
		width:round(100% - (@col_mar * 2), 2);
		margin:0 @col_mar;
		.cl;
	}
	
	> p {
		padding:0 0 10px;
	}
}

.wc-proceed-to-checkout {
	padding:15px 0 0;
	position:relative;
	.ovh;
}

.woocommerce-MyAccount-navigation {
	margin:0 0 38px;
	
	ul {
		.tal;
		
		> li {
			display:block;
			margin:0 10px 8px 0;
			
			&:last-child {
				margin:0;
			}
		}
	}
}

.woocommerce-mini-cart__empty-message {
	padding:0 20px;
}



/*-------------------------------------------------------------------------*/
/* Checkout
/*-------------------------------------------------------------------------*/

.checkout_coupon {
	margin:0 -@col_mar 30px;
	position:relative;
	.ovh;
	
	p:not([class]) {
		width:round((100%) - (@col_mar * 2), 2);
		margin:0 @col_mar;
	}
	
	input,
	input[type=submit] {
		width:100%;
		max-width:100%;
	}
}

body .select2-container {
	.select2-choice, 
	&.select2-drop-above .select2-choice {
		padding:@input_pad @input_pad * 2;
		.bdrs(0)
	}
}

body {
	.select2-container {
		&.select2-container--open,
		&.select2-container--focus {
			.select2-selection--single {
				.bdrs(0);
			}
		}
		
		.select2-selection--single {
			height:@input_height;
			padding:@input_pad 40px @input_pad @input_pad * 2;
			background-image:url('../../../../img/select.png');
			background-position:100% center;
			background-repeat:no-repeat;
			.bdrs(0);
			.bd;
			
			.select2-selection__arrow {
				.dn;
			}
			
			.select2-selection__rendered {
				line-height:48px - @input_pad * 2;
				padding:0;
			}
		}
	}
	
	.select2-dropdown {
		.bdrs(0);
		
		.select2-results {
			.select2-results__option {
				padding:6px 6px 6px @input_pad * 2;
				
				&:first-child {
					padding:6px 6px 6px @input_pad * 2;
				}
				
				&:before {
					content:none;
				}
			}
		}
	}
}

.select2-results li {
	padding:0;
	
	&:before {
		content:none;
	}
}

body .select2-drop.select2-drop-active, 
body .select2-drop.select2-drop-above.select2-drop-active {
	.bd(0);
}

.checkout {
	position:relative;
	.ovh;
}

.woocommerce-billing-fields, 
.woocommerce-shipping-fields {
	margin:0 -@col_mar;
	position:relative;
	.ovh;
	
	&:after {
		.cl_after;
	}
	
	> h3 {
		margin-left:@col_mar;
		margin-right:@col_mar;
		position:relative;
		.ovh;
	}
	
	.shipping_address {
		.ovh;
	}
}

.woocommerce-checkout-payment {
	padding:25px 30px;
	position:relative;
	.bd;
	.ovh;
	
	.payment_methods {
		list-style:none;
		margin:0;
		padding:0;
		position:relative;
		.ovh;
		
		li {
			position:relative;
			.ovh;
		
			&:before {
				content:none;
			}
			
			&.woocommerce-notice {
				margin:0;
				padding:10px 15px;
			}
		}
		
		label {
			display:inline-block;
			float:none;
			
			img {
				.dn;
			}
		}
		
		.payment_box {
			padding:10px 25px;
			margin:15px 0 10px;
			position:relative;
			.cl;
			.bd;
			
			p {
				margin:0;
				padding:0;
			}
		}
	}

	.woocommerce-terms-and-conditions-wrapper {
		padding:30px 0 0;
		position:relative;
		.ovh;
		
		> * {
			display:inline-block;
			float:none;
			vertical-align:middle;
		}
		
		.button {
			display:block;
		}
		
		.form-row {
			width:auto;
			padding:0;
			margin:0;
			overflow:hidden;
			
			> * {
				direction:ltr;
			}
			
			label {
				display:inline-block;
				vertical-align:middle;
				padding:0 0 0 0;
				margin:0 0 20px;
				
				&:after,
				&:before {
					content:none;
				}
				
				span {
					display:inline;
					vertical-align:middle;
					padding-top: 1px;
					padding-left:25px;
				}
			}

			.required {
				display: none;
			}
			
			.input-checkbox {
				display:inline-block;
				vertical-align:middle;
				float:none;
				position:static;
				.op( 0 );
			}
		}
	}
}

.woocommerce-order-pay #payment {
	padding:25px 30px;
	position:relative;
	.bd;
	.ovh;
	
	.payment_methods {
		list-style:none;
		margin:0;
		padding:0;
		position:relative;
		.ovh;
		
		li {
			position:relative;
			.ovh;
		
			&:before {
				content:none;
			}
		}
		
		label {
			display:inline-block;
			float:none;
			
			img {
				.dn;
			}
		}
		
		.payment_box {
			padding:10px 25px;
			margin:15px 0 10px;
			position:relative;
			.cl;
			.bd;
			
			p {
				margin:0;
				padding:0;
			}
		}
	}
	
	.payment_methods + .form-row {
		padding:30px 0 0;
		position:relative;
		width:auto;
		margin:0;
		.ovh;
		
		> * {
			display:inline-block;
			float:none;
			vertical-align:middle;
		}
		
		.button {
			display:block;
		}
		
		.terms {
			width:auto;
			padding:0;
			margin:0;
			overflow:hidden;
			
			> * {
				direction:ltr;
			}
			
			label {
				display:inline-block;
				vertical-align:middle;
				padding:0 0 0 5px;
				margin:0 0 20px;
				
				&:after,
				&:before {
					content:none;
				}
				
				span {
					display:inline;
					vertical-align:middle;
					padding-left:5px;
				}
			}
			
			.input-checkbox {
				display:inline-block;
				vertical-align:middle;
				float:none;
				position:static;
				.op(1);
			}
		}
	}
}

#page {
	.woocommerce-terms-and-conditions {
		width:100%;
		display:block;
		margin-bottom:20px;
		
		.cmsmasters_row_inner {
			width:100%;
			padding:0 @blocks_hor_pad;
		}
	}
}

.woocommerce-MyAccount-content {
	margin:0 -@col_mar;

	fieldset {
		padding-left:0;
		padding-right:0;
		margin-left:0;
		margin-right:0;
		
		legend {
			padding:0;
			margin:0 @col_mar;
		}
	}
	
	form {
		p:last-child {
		    margin:0 @col_mar;
		}
	}
}

.woocommerce-password-strength {
	padding:20px 0 0;
}


/*-------------------------------------------------------------------------*/
/* Order
/*-------------------------------------------------------------------------*/

ul.order_details {
	list-style:none;
	margin:0 0 30px;
	padding:0;
	position:relative;
	.display_flex;
	.bd();
	.ovh;
	
	li {
		width:100%;
		margin:0;
		padding:10px 15px;
		position:relative;
		.ovh;
		
		&:before {
			content:none;
		}
		
		strong {
			display:block;
			margin:10px -15px -10px;
			padding:10px 15px;
			.bdt();
		}
	}
}

#page {
	.woocommerce-terms-and-conditions {
		width:100%;
		
		.cmsmasters_row_inner {
			width:100%;
			padding:0 @blocks_hor_pad;
		}
	}
}

.woocommerce-page.woocommerce-order-received .woocommerce > h2 {
	padding-top:30px;
}

.my_account_orders {
	thead {
		th {
			padding-left:20px;
		}
	}
	
	td {
		padding-left:20px;
	}
}

.woocommerce-orders-table__cell-order-actions > .button {
	margin:5px 10px 5px 0;
}


/*-------------------------------------------------------------------------*/
/* Dynamic Cart
/*-------------------------------------------------------------------------*/

.cmsmasters_header_cart_link_wrap {
	.dn;
}

.cmsmasters_dynamic_cart {
	display:block;
	width:45px;
	height:45px;
	position:fixed;
	word-wrap:break-word;
	right:0;
	top:25%;
	z-index:100000;
	.bdrs(@bdrs_width 0 0 @bdrs_width);
	
	.remove {
		#page & {
			font-size:18px;
			line-height:1em;
			background-color:transparent;
			.pos_abs(1em, 1em, auto, 0);
		}
	}
	
	.cmsmasters_dynamic_cart_button {
		font-size:16px;
		line-height:16px;
		display:block;
		width:100%;
		height:100%;
		
		&:before {
			.pos_abs;
		}
	}
	
	.widget_shopping_cart_content {
		width:296px;
		padding:15px 0;
		margin:-20px 0 0;
		visibility:hidden;
		position:absolute;
		left:auto;
		right:55px;
		top:100%;
		z-index:-1;
		overflow-x: hidden;
		overflow-y: auto;
		max-height: 70vh;
		.bdrs(@bdrs_width 0 0 @bdrs_width);
		.op(0) !important;
		
		&:before {
			content:'';
			display:block;
			width:100%;
			height:20px;
			position:absolute;
			left:0;
			top:-20px;
		}
		
		&:after {
			content:'';
			border-left:10px solid transparent;
			border-right:10px solid transparent;
			position:absolute;
			right:12px;
			top:-10px;
		}
		
		.cart_list {
			list-style:none;
			margin:0;
			padding:0 15px;
			.ovh;
			
			li {
				min-height:70px;
				margin:20px 0 0;
				padding:10px 115px 10px 0;
				position:relative;
				.ovh;
				
				&:before {
					content:none;
				}
				
				&:first-child {
					margin:0;
				}
				
				&.empty {
					min-height:1px;
					padding:10px 35px;
				}
				
				&:hover {
					img {
						right:28px;
						left:auto;
					}
					
					.remove {
						#page & {
							.op(1);
						}
					}
				}
			}
			
			a {
				display:block;
			}
			
			img {
				.pos_abs(70px, 70px, auto, 0, 0, 0);
				.bdrs(0);
			}
			
			.quantity {
				direction:rtl;
				margin:-2px 0 0;
				display:block;
				.op(.6);
				
				* {
					display:inline-block;
					direction:ltr;
				}
				
				.amount {
					white-space:nowrap;
				}
			}
			
			a + .quantity {
				margin-top:8px;
			}
		}
		
		.total {
			padding:30px 15px 0;
			position:relative;
			.ovh;
			
			strong {
				outline:none;
			}
		}
		
		.buttons {
			margin:0 -4.5%;
			padding:10px 15px 0;
			position:relative;
			.ovh;
			
			.button {
				width:41%;
				margin:0 4.5%;
				padding:0 5px;
				.fl;
			}
		}
		
		.woocommerce-mini-cart__empty-message {
			padding:0 15px;
		}
	}
	
	&:hover .widget_shopping_cart_content, 
	.cmsmasters_dynamic_cart_button:hover + .widget_shopping_cart_content, 
	.widget_shopping_cart_content:hover {
		visibility:visible;
		margin-top:-45px;
		z-index:1000;
		.op(1) !important;
	}
}


.cmsmasters_added_product_info {
	width:295px;
	margin:40px 0 0;
	padding:15px 25px;
	visibility:hidden;
	position:absolute;
	left:auto;
	right:0;
	top:100%;
	z-index:1001;
	.op(0);
	.bdrs(@bdrs_width 0 0 @bdrs_width);
	
	&:after {
		content:'';
		border-left:10px solid transparent;
		border-right:10px solid transparent;
		position:absolute;
		right:12px;
		top:-10px;
	}
	
	.cmsmasters_added_product_info_img {
		width:60px;
		height:60px;
		.fl;
	}
	
	.cmsmasters_added_product_info_text {
		display:block;
		padding:5px 0 5px 25px;
		.ovh;
	}
}



/*-------------------------------------------------------------------------*/
/* Widgets
/*-------------------------------------------------------------------------*/

.widget.woocommerce > form {
	overflow:visible;
	
	> * {
		overflow:visible;
	}
}


/***************** Widget Product Search ******************/
.widget_product_search {
	position:relative;
}


/***************** Widget Lists ******************/
.widget_rating_filter {
	li:before {
		content:none;
	}
}


/***************** Widget Lists ******************/
.widget_layered_nav, 
.widget_layered_nav_filters, 
.widget_product_categories {
	ul {
		margin:0;
		padding:0;
		
		ul {
			margin:0 0 -4px;
			padding:4px 0 0 10px;
		}
		
		li {
			margin:0;
			padding:0;
			
			&:before {
				content:none;
			}
			
			a, 
			span {
				display:inline-block;
				vertical-align:middle;
			}
		}
	}
}


/***************** Widget Product List ******************/
.widget {
	> .product_list_widget {
		list-style:none;
		margin:0;
		padding:0;
		position:relative;
		.ovh;
		
		li {
			min-height:70px;
			margin:20px 0 0;
			padding:0 115px 0 0;
			position:relative;
			.ovh;
			
			&:before {
				content:none;
			}
			
			&:first-child {
				margin:0;
			}
		}
		
		a {
			display:block;
		}
		
		img {
			.pos_abs(70px, 70px, auto, 0, 0, 0);
			.bdrs(0);
		}
		
		.star-rating {
			.dn;
		}
		
		ins {
			text-decoration:none;
		}
		
		del {
			margin:0 3px 0 0;
		}
	}
}
	
.widget_shopping_cart_content .cart_list, 
.widget > .product_list_widget {
	.cmsmasters_star_rating {
		margin-top:10px;
	}
} 


/***************** Widget Shopping Cart ******************/
.widget_shopping_cart {
	position:relative;
	word-wrap:break-word;
	.ovh;
	
	.remove {
		#page & {
			font-size:18px;
			line-height:1em;
			background-color:transparent;
			.pos_abs(1em, 1em, auto, 0);
		}
	}
	
	.widget_shopping_cart_content {
		position:relative;
		.ovh;
	}
	
	.cart_list {
		list-style:none;
		margin:0;
		padding:0;
		.ovh;
		
		li {
			min-height:70px;
			margin:20px 0 0;
			padding:10px 100px 10px 0;
			position:relative;
			.ovh;
			
			&:before {
				content:none;
			}
			
			&:first-child {
				margin:0;
			}
			
			&.empty {
				min-height:1px;
				padding:10px 35px;
			}
			
			&:hover {
				img {
					right:28px;
					left:auto;
				}
				
				.remove {
					#page & {
						.op(1);
					}
				}
			}
		}
		
		a {
			display:block;
		}
		
		img {
			.pos_abs(70px, 70px, auto, 0, 0, 0);
			.bdrs(0);
		}
		
		.quantity {
			direction:rtl;
			margin:-2px 0 0;
			display:block;
			.op(.6);
			
			* {
				display:inline-block;
				direction:ltr;
			}
			
			.amount {
				white-space:nowrap;
			}
		}
		
		a + .quantity {
			margin-top:8px;
		}
	}
	
	.total {
		padding:30px 0 0;
		position:relative;
		.ovh;
		
		strong {
			outline:none;
		}
	}
	
	.buttons {
		margin:0 -4.5%;
		padding:10px 0 0;
		position:relative;
		.ovh;
		
		.button {
			width:41%;
			margin:0 4.5%;
			padding:0 5px;
			.fl;
		}
	}
}

.widget_price_filter {
	.price_slider_wrapper {
		position:relative;
		.ovh;
	}
	
	.price_slider {
		height:2px;
		margin:0;
		padding:0;
		position:relative;
	}
	
	.ui-slider-range {
		height:100%;
		position:absolute;
		top:0;
	}
	
	.ui-slider-handle {
		display:block;
		width:18px;
		height:18px;
		cursor:pointer;
		position:absolute;
		left:0;
		right:auto;
		top:-8px;
		
		&:before {
			content:'';
			.pos_abs(8px, 8px);
			left:0;
			right:auto;
			.bdrs(50%);
		}
		
		&:last-child {
			left:100%;
			margin-left:-18px;
			margin-right:0;
			
			&:before {
				left:auto;
				right:0;
			}
		}
	}
	
	.price_slider_amount {
		padding:20px 0 0;
		position:relative;
		.ovh;
		
		.button {
			.fr;
			padding:0 20px;
		}
		
		.price_label {
			display:block;
			padding:0 10px 0 0;
			.ovh;
		}
	}
}


/***************** Widget Tag Cloud ******************/
.widget_product_tag_cloud {
	position:relative;
	.ovh;
	
	a {
		line-height:1.2em;
		display:inline-block;
		margin:0 6px 0 0;
		
		&:last-child {
			margin:0;
		}
	}
}


/***************** Widget Recent Reviews ******************/
.widget_recent_reviews {
	> .product_list_widget {
		li {
			padding-top:5px;
		}
	}
}



/*-------------------------------------------------------------------------*/
/* Shortcodes
/*-------------------------------------------------------------------------*/

.cmsmasters_products_shortcode, 
.cmsmasters_selected_products_shortcode {
	position:relative;
	.ovh;
}


/*	Other Shortcodes */

.create-account {
	.input-radio + label, 
	.input-checkbox + label {
		padding:0 0 0 25px;
	}
	
	> p {
		margin-left:@col_mar;
		margin-right:@col_mar;
	}
}

.login, 
.register {
	margin:0 -@col_mar;
	position:relative;
	.ovh;
	
	&:after {
		.cl_after;
	}
	
	label.inline {
		display:inline-block;
		padding:0;
		margin-left:10px;
		margin-right:0;
		
		input {
			vertical-align:middle;
			margin-top:-2px;
		}
	}
	
	> * {
		width:round(100% - (@col_mar * 2), 2);
		margin-left:@col_mar;
		margin-right:@col_mar;
		.ovh;
	}
	
	.lost_password {
		.cl;
	}
}

.track_order {
	margin:0 -@col_mar;
	position:relative;
	.ovh;
	
	&:after {
		.cl_after;
	}
	
	> * {
		margin-left:@col_mar;
		margin-right:@col_mar;
		.ovh;
	}
}



/*-------------------------------------------------------------------------*/
/* CSS3 Animations
/*-------------------------------------------------------------------------*/

html.csstransitions {
	.woocommerce-store-notice a {
		.trans(~'opacity .3s ease-in-out');
	}
	
	.cmsmasters_product .cmsmasters_product_inner:before {
		.trans(background-color .3s ease-in-out);
	}
	
	.woocommerce-loop-category__title, 
	.cmsmasters_star_rating .cmsmasters_star {
		.trans(color .3s ease-in-out);
	}
	
	body .select2-container .select2-selection--single {
		.trans(~'border-color .3s ease-in-out, color .3s ease-in-out');
	}
	
	.cmsmasters_dynamic_cart .cmsmasters_dynamic_cart_button {
		.trans(~'background-color .3s ease-in-out, color .3s ease-in-out');
	}
	
	.cmsmasters_product .cmsmasters_product_img img,
	.cmsmasters_product .button_to_cart_wrap,
	.cmsmasters_product .price {
		.trans(~'opacity .3s ease-in-out, visibility .3s ease-in-out');
	}
	
	.cmsmasters_dynamic_cart .widget_shopping_cart_content {
		.trans(~'opacity .3s ease-in-out, margin .3s ease-in-out, visibility .3s ease-in-out, z-index .1s ease-in-out');
	}
	
	.shipping_method + label:after, 
	.input-radio + label:after, 
	.input-checkbox + label:after {
		.trans(all .3s ease-in-out);
	}
	
	.widget_shopping_cart .widget_shopping_cart_content .cart_list img, 
	.cmsmasters_dynamic_cart .widget_shopping_cart_content .cart_list img {
		.trans(~'left .3s ease-in-out, right .3s ease-in-out');
	}
}

