/**
 * @package 	WordPress
 * @subpackage 	Galleria Metropolia
 * @version		1.0.3
 * 
 * Responsive Design CSS Rules
 * Created by CMSMasters
 * 
 */



@import "general.less";


@monitor_large_max: ~'(max-width: 1440px)';
@monitor_phone_400: ~'(max-width: 400px)';
@monitor_tablet_large: ~'(min-width: 950px) and (max-width: 1440px)';


@media only screen {
/*-------------------------------------------------------------------------*/
/* Large Monitor
/*-------------------------------------------------------------------------*/
@media @monitor_large {
	.cmsmasters_responsive_width {
		width:1440px;
	}
	
	#page {
		&.cmsmasters_boxed {
			width:@cont_width_large + @blocks_hor_pad * 2;
			
			#header, 
			#footer {
				width:@cont_width_large + @blocks_hor_pad * 2;
			}
		}
	}
	
	.post-password-form,
	.header_top_inner, 
	.header_mid_inner, 
	.header_bot_inner, 
	.content_wrap, 
	.headline_inner, 
	.bottom_outer, 
	.footer_inner_cont, 
	.cmsmasters_row_inner, 
	.cmsmasters_row_title_wrap {
		width:@cont_width_large;
	}
}

@media @monitor_large_max {
	ul.navigation > li > a {
		padding:0 10px;
	}
}

@media @monitor_tablet_large {
	#page .widget_custom_posts_tabs_entries .cmsmasters_tabs {
		margin:0 1px;
		
		.cmsmasters_tabs_wrap {
			margin-top:0;
			
			li {
				margin-bottom:30px;
			}
		}
		
		.cmsmasters_tabs_list_item {
			width:100%;
			.tac;
		}
		
		.cmsmasters_tabs_list {
			padding:0;
		}
	}
}



/*-------------------------------------------------------------------------*/
/* Medium Monitor
/*-------------------------------------------------------------------------*/
@media @monitor_medium {
	.cmsmasters_responsive_width {
		width:1025px;
	}
	
	.fixed_header #header {
		position:fixed;
	}
	
	.header_top_outer, 
	.header_top .top_nav_wrap nav {
		display:block !important;
	}
	
	.cmsmasters_button, 
	.button, 
	input[type=submit], 
	input[type=button], 
	button {
		padding:0 42px;
	}
	
	.mid_nav, 
	.bot_nav {
		> li {
			&.current-menu-item, 
			&.current_page_item, 
			&.current-menu-ancestor {
				> a > .nav_item_wrap {
					&:before {
						content:'';
						.pos_abs(100%, 3px, 0, 0, auto);
					}
				}
			}
		}
	}
}



/*-------------------------------------------------------------------------*/
/* Tablet Monitor
/*-------------------------------------------------------------------------*/
@media @monitor_tablet {
	.cmsmasters_responsive_width {
		width:1024px;
	}
	
	.headline_outer {
		background-attachment:scroll;
	}
	
	.gallery {
		&.gallery-columns-9, 
		&.gallery-columns-6 {
			.gallery-item {
				width:round((100% / 3) - (@col_mar * 2), 2);
				
				&:nth-child(6n + 1),
				&:nth-child(9n + 1) {
					clear:none;
				}
				
				&:nth-child(3n + 1) {
					clear:both;
				}
			}
		}
		
		&.gallery-columns-8 {
			.gallery-item {
				width:round((100% / 4) - (@col_mar * 2), 2);
				
				&:nth-child(8n + 1) {
					clear:none;
				}
				
				&:nth-child(4n + 1) {
					clear:both;
				}
			}
		}
		
		&.gallery-columns-7, 
		&.gallery-columns-5, 
		&.gallery-columns-4	{
			.gallery-item {
				width:round((100% / 2) - (@col_mar * 2), 2);
				
				&:nth-child(4n + 1),
				&:nth-child(5n + 1),
				&:nth-child(7n + 1) {
					clear:none;
				}
				
				&:nth-child(2n + 1) {
					clear:both;
				}
			}
		}
	}
	
	.cmsmasters_profile.horizontal .cmsmasters_profile_horizontal.one_fourth:nth-child(2n+1) {
		clear:left;
	}
	
	#page {
		&.cmsmasters_boxed {
			width: @cont_width_full;
			
			#header, 
			#footer {
				width: @cont_width_full;
			}
		}
		
		&.fixed_header {
			#header {
				position: relative;
			}
			
			#middle, 
			&.enable_header_top #middle, 
			&.enable_header_bottom #middle, 
			&.enable_header_top.enable_header_bottom #middle {
				padding-top: 0;
			}
		}
	}
	
	#header {
		position:relative;
		.ovh;
		
		nav {
			height:auto;
			
			div, 
			ul, 
			li, 
			a, 
			span {
				background-image:none !important;
				display:block;
				width:auto;
				height:auto;
				float:none;
				margin:0;
				padding:0;
				visibility:visible;
				position:relative;
				left:auto;
				right:auto;
				top:auto;
				bottom:auto;
				.tal;
				.bd(0);
				.cl;
				.ovh;
				.bdrs(0);
				.op(1);
				.bxsh_none;
			}
			
			div, 
			ul, 
			li, 
			a {
				&:before, 
				&:after {
					content:none;
				}
			}
			
			.menu-item-mega-description-container {
				padding:10px 15px;
			}
			
			li {
				.bdt;
			}
			
			> div > ul > li:first-child {
				.bdt(0);
			}
		}
	}
	
	.post-password-form,
	.header_top_inner, 
	.header_mid_inner, 
	.header_bot_inner, 
	.content_wrap, 
	.headline_inner, 
	.bottom_outer, 
	.footer_inner_cont, 
	.cmsmasters_row_inner, 
	.cmsmasters_row_title_wrap {
		width: @cont_width_full;
	}
	
	.cmsmasters_column {
		margin-bottom:20px;
			
		.cmsmasters_row_columns_behavior & {
			margin-bottom:0;
		}
		
		&.one_first, 
		&:last-child {
			margin-bottom:0;
		}
	}
	
	.one_fifth, 
	.one_fourth, 
	.three_fourth {
		width:round((100% / 2) - (@col_mar * 2), 2);
	}
	
	.cmsmasters_row_no_margin > .cmsmasters_row_margin {
		> .one_fifth, 
		> .one_fourth, 
		> .three_fourth {
			width:round((100% / 2), 2);
		}
	}
	
	.cmsmasters_14141414 {
		> .cmsmasters_column:nth-child(2n + 1) {
			clear:left;
		}
	}
	
	.cmsmasters_121414, 
	.cmsmasters_141412 {
		.cmsmasters_column.one_half {
			width:round(100% - (@col_mar * 2), 2);
			float:none;
			clear:both;
		}
	}
	
	.cmsmasters_row_no_margin {
		> .cmsmasters_121414, 
		> .cmsmasters_141412 {
			> .cmsmasters_column.one_half {
				width:round(100%, 2);
			}
		}
	}
	
	.cmsmasters_141214 {
		.cmsmasters_column.one_fourth, 
		.cmsmasters_column.one_half {
			width:round((100% / 3) - (@col_mar * 2), 2);
		}
	}
		
	.cmsmasters_row_no_margin {
		> .cmsmasters_141214 {
			> .cmsmasters_column.one_fourth, 
			> .cmsmasters_column.one_half {
				width:round((100% / 3), 2);
			}
		}
	}
	
	.sidebar_layout_14141414 {
		aside {
			width:round((100% / 2) - (@col_mar * 2), 2);
			
			&:nth-child(2n+1) {
				clear:left;
			}
		}
	}
	
	.sidebar_layout_141412 {
		> aside:first-child, 
		> aside:first-child + aside, 
		> div.cl + aside, 
		> div.cl + aside + aside, 
		> div.cmsmasters_widget_divider + aside, 
		> div.cmsmasters_widget_divider + aside + aside {
			width:round((100% / 2) - (@col_mar * 2), 2);
		}
		
		> aside:first-child + aside + aside, 
		> div.cl + aside + aside + aside, 
		> div.cmsmasters_widget_divider + aside + aside + aside {
			width:round(100% - (@col_mar * 2), 2);
			float:none;
			clear:both;
		}
	}
	
	.sidebar_layout_141214 {
		> aside:first-child, 
		> aside:first-child + aside + aside, 
		> div.cl + aside, 
		> div.cl + aside + aside + aside, 
		> div.cmsmasters_widget_divider + aside, 
		> div.cmsmasters_widget_divider + aside + aside + aside {
			width:round((100% / 3) - (@col_mar * 2), 2);
		}
		
		> aside:first-child + aside, 
		> div.cl + aside + aside, 
		> div.cmsmasters_widget_divider + aside + aside {
			width:round((100% / 3) - (@col_mar * 2), 2);
		}
	}
	
	.sidebar_layout_121414 {
		> aside:first-child, 
		> div.cl + aside, 
		> div.cmsmasters_widget_divider + aside {
			width:round(100% - (@col_mar * 2), 2);
			float:none;
			clear:both;
		}
		
		> aside:first-child + aside, 
		> aside:first-child + aside + aside, 
		> div.cl + aside + aside, 
		> div.cl + aside + aside + aside, 
		> div.cmsmasters_widget_divider + aside + aside, 
		> div.cmsmasters_widget_divider + aside + aside + aside {
			width:round((100% / 2) - (@col_mar * 2), 2);
		}
	}
	
	.sidebar_layout_3414 {
		> aside:first-child, 
		> div.cl + aside, 
		> div.cmsmasters_widget_divider + aside {
			width:round((100% / 2) - (@col_mar * 2), 2);
		}
		
		> aside:first-child + aside, 
		> div.cl + aside + aside, 
		> div.cmsmasters_widget_divider + aside + aside {
			width:round((100% / 2) - (@col_mar * 2), 2);
		}
	}
	
	.sidebar_layout_1434 {
		> aside:first-child, 
		> div.cl + aside, 
		> div.cmsmasters_widget_divider + aside {
			width:round((100% / 2) - (@col_mar * 2), 2);
		}
		
		> aside:first-child + aside, 
		> div.cl + aside + aside, 
		> div.cmsmasters_widget_divider + aside + aside {
			width:round((100% / 2) - (@col_mar * 2), 2);
		}
	}
	
	.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap, 
	.cmsmasters_counters .cmsmasters_counter_wrap {
		&.one_fifth, 
		&.one_fourth {
			width:50%;
		}
	}
	
	.cmsmasters_pricing_table {
		&.pricing_four {
			.cmsmasters_pricing_item {
				width:50%;
				
				&:nth-child(2n+1) {
					.cl;
				}
			}
		}
	}
	
	.header_top {
		.ovh;
		.cl;
		
		.header_top_but {
			display:block;
		}
		
		.header_top_outer {
			height:auto;
			.dn;
			.ovh;
		}
		
		.header_top_inner {
			height:auto;
			padding:0 0 25px;
			.ovh;
		}
		
		.social_wrap {
			padding:20px 0 0;
			float:none;
			
			.social_wrap_inner {
				.tac;
			}
		}
		
		.top_nav_wrap {
			float:none;
			.bdb;
			
			nav {
				.dn;
			}
		}
		
		.responsive_top_nav {
			display:block;
			width:100%;
			
			&.active {
				.bdb;
			}
		}
		
		.header_top_meta {
			padding:25px 0 0;
			float:none;
			.tac;
			.bd(0);
			
			&:after {
				content:none;
			}
		}
		
		.meta_wrap {
			display:block;
			.tac;
		}
	}
	
	#header .top_line_nav {
		padding:36px 0;
		
		.nav_item_wrap {
			padding:10px 0;
			.tac;
		}
	}
	
	#header .header_mid {
		.ovh;
		.cl;
		
		.header_mid_outer {
			.ovh;
		}
		
		.header_mid_inner {
			padding:0 0 0 @blocks_hor_pad;
		}
		
		.social_wrap,
		.slogan_wrap {
			margin:0;
			padding:0 35px;
		}
		
		.resp_mid_nav_wrap {
			display:block;
			padding:0 30px;
			
			.resp_mid_nav {
				font-size:16px;
				line-height:16px;
			}
		}
		
		.mid_search_but_wrap {
			margin:0;
			padding:0 35px;
		}
		
		.mid_nav_wrap {
			display:block;
			height:auto;
			float:none;
			padding:0;
			margin:0 0 0 -@blocks_hor_pad;
			visibility:visible;
			.ovh;
			.cl;
			.op(1);
			.bd(0);
			.bdt;
			
			nav {
				.dn;
			}
		}
	}
	
	#header .header_bot {
		.ovh;
		.cl;
		
		.header_bot_outer {
			.ovh;
		}
		
		.header_bot_inner {
			padding:0;
		}
		
		.resp_bot_nav_wrap {
			display:block;
			padding:0 30px;
			
			.resp_bot_nav_outer {
				.tac;
			}
			
			.resp_bot_nav {
				font-size:16px;
				line-height:16px;
			}
		}
		
		.bot_nav_wrap {
			display:block;
			height:auto;
			float:none;
			margin:0;
			visibility:visible;
			.ovh;
			.cl;
			.op(1);
			
			nav {
				.dn;
			}
		}
	}
	
	#page.enable_header_bottom:not(.enable_header_centered) #header .mid_nav_wrap,
	#page.enable_header_bottom:not(.enable_header_centered) #header .bot_nav_wrap {
		padding:0;
	}
	
	.enable_header_centered #header .header_mid_inner {
		padding:0;
		
		.header_mid_inner_cont {
			display:block;
			float:none;
			width:100%;
		}
	}
	
	#header .navigation {
		padding:28px 0;
		
		a {
			padding:10px 0 10px 30px;
		}
		
		li li {
			> a {
				padding-left:70px;
				padding-right:0;
			}
			
			li {
				> a {
					padding-left:90px;
					padding-right:0;
				}
			}
		}
		
		.nav_item_wrap {
			display:inline-block;
			vertical-align:middle;
		}
		
		.nav_title {
			display:inline-block;
			position:relative;
			vertical-align:middle;
			
			&[class^="cmsmasters-icon-"], 
			&[class*=" cmsmasters-icon-"] {
				padding:0 0 0 28px;
				
				&:before {
					.pos_abs(14px, 14px, 0, auto, 0, 0);
				}
				
				& + .nav_tag + .nav_subtitle, 
				& + .nav_subtitle {
					padding:0 0 0 28px;
				}
			}
		}
		
		.nav_tag {
		    padding:0;
			margin:0 0 0 8px;
			display:inline-block;
			vertical-align:top;
		}
		
		.nav_subtitle {
			margin-top:-2px;
			display:block;
		}
		
		.cmsmasters_resp_nav_toggle {
			font-size:14px;
			line-height:14px;
			cursor:pointer;
			.pos_abs(30px, 30px, auto, 30px);
			
			&:before {
				.pos_abs;
			}
		}
		
		.menu-item-mega-container {
			width:100% !important;
			left:auto !important;
			right:auto !important;
		}
	}
	
	.cmsmasters_profile_vertical {
		.cmsmasters_profile_img_wrap {
			width:35%;
			padding:0 30px 0 0;
		}
		
		.cmsmasters_profile_img_wrap + .profile_inner {
			width:65%;
		}
	}
	
	.quote_four.cmsmasters_quotes_grid {
		.cmsmasters_quote {
			width:100%;
			.bdb;
			
			&:last-child {
				.bdb(0);
			}
			
			.cmsmasters_quote_header, 
			.cmsmasters_quote_subtitle_wrap	{
				.tac;
			}
		}
		
		.cmsmasters_quotes_vert {
			.dn;
		}
	}
}



/*-------------------------------------------------------------------------*/
/*	Tablet Monitor 950
/*-------------------------------------------------------------------------*/
@media @monitor_tablet_950 {
	.cmsmasters_responsive_width {
		width:950px;
	}
	
	.content_wrap {
		&.l_sidebar, 
		&.r_sidebar {
			.cmsmasters_row {
				padding-left:0;
				padding-right:0;
				margin-left:0;
				margin-right:0;
			}
		}
	}
	
	.content, 
	.sidebar {
		width: @cont_width_full;
		padding-left:0;
		padding-right:0;
	}
	
	.cmsmasters_open_project {
		.display_flex;
		.justify_content(flex-end);
		.flex_direction(column-reverse);
		
		.project_content {
			&.with_sidebar {
				width:100%;
				float:none;
				padding:20px 0;
				.bd(0);
			}
		}
		
		.project_sidebar {
			width:100%;
			float:none;
			padding:0 0 30px;
			.bd(0);
		}
		
		.cmsmasters_owl_slider, 
		.cmsmasters_gallery_row, 
		.cmsmasters_img_wrap {
			order:1;
		}
		
		.cmsmasters_gallery_row {
			&:nth-child(3) {
				order:1;	
			}
			
			&:nth-child(2) {
				order:2;	
			}
			
			&:nth-child(1) {
				order:3;	
			}
		}
		
		.cmsmasters_owl_slider, 
		.cmsmasters_img_wrap {
			#page & {
				margin-bottom:20px;
			}
		}
		
		.cmsmasters_gallery_row {
			#page & {
				margin:0;
			}
		}
	}
	
	.cmsmasters_open_profile {
		.display_flex;
		.justify_content(flex-end);
		.flex_direction(column-reverse);
		
		.profile_content {
			&.with_sidebar {
				width:100%;
				float:none;
				padding:20px 0;
				.bd(0)
			}
		}
		
		.profile_sidebar {
			width:100%;
			float:none;
			padding:0 0 30px;
			.bd(0);
		}
	}
}



/*-------------------------------------------------------------------------*/
/* Small Tablet Monitor
/*-------------------------------------------------------------------------*/
@media @monitor_tablet_small {
	.cmsmasters_responsive_width {
		width:768px;
	}
	
	#page .cmsmasters_archive_type {
		display:block;
		
		.cmsmasters_archive_item_img_wrap {
			max-width:300px;
			margin:0 auto;
		}
	}
	
	#page .cmsmasters_quotes_slider {
		padding:70px 0 20px 0;
		
		.owl-buttons {
			top:0;
			bottom:auto;
		}
		
		.cmsmasters_quote_icon, 
		.cmsmasters_quote_image {
			float:none;
			margin:0 auto;
			.tal;
		}
		
		.cmsmasters_quote_image:before {
			content:none;
		}
		
		.cmsmasters_quote_content_wrap {
			padding:20px 0 0;
		}
	}
	
	#page .cmsmasters_open_project .cmsmasters_gallery_row > div {
		width:round(100% - (@col_mar * 2), 2);
		margin:0 auto;
		float:none;
		clear:both;
	}
	
	.gallery {
		&.gallery-columns-8	{
			.gallery-item {
				width:round((100% / 2) - (@col_mar * 2), 2);

				&:nth-child(4n + 1) {
					clear:none;
				}

				&:nth-child(2n + 1) {
					clear:both;
				}
			}
		}
	}
	
	.one_first, 
	.one_half, 
	.one_third, 
	.two_third, 
	.one_fourth, 
	.one_fifth, 
	.three_fourth, 
	.cmsmasters_121414 .cmsmasters_column.one_half, 
	.cmsmasters_141412 .cmsmasters_column.one_half, 
	.cmsmasters_141214 .cmsmasters_column.one_fourth, 
	.cmsmasters_141214 .cmsmasters_column.one_half {
		width:round(100% - (@col_mar * 2), 2);
		float:none;
		clear:both;
		
		.cmsmasters_row_columns_behavior & {
			display:block;
			
			.cmsmasters_column_inner {
				display:block;
			}
		}
	}
	
	.cmsmasters_row_no_margin {
		> .cmsmasters_row_margin {
			> .one_first, 
			> .one_half, 
			> .one_third, 
			> .two_third, 
			> .one_fourth, 
			> .one_fifth, 
			> .three_fourth {
				width:round(100%, 2);
			}
		}
		
		> .cmsmasters_121414 > .cmsmasters_column.one_half, 
		> .cmsmasters_141412 > .cmsmasters_column.one_half, 
		> .cmsmasters_141214 > .cmsmasters_column.one_fourth, 
		> .cmsmasters_141214 > .cmsmasters_column.one_half {
			width:round(100%, 2);
		}
	}
	
	.cmsmasters_row_margin.cmsmasters_row_columns_behavior {
		display:block;
		
		.cmsmasters_featured_block .featured_block_text:empty {
			padding-bottom:100%;
		}
	}
	
	.cmsmasters_row_no_margin {
		> .cmsmasters_row_margin {
			display:block;
		}
	}
	
	.sidebar_layout_14141414, 
	.sidebar_layout_141412, 
	.sidebar_layout_141214, 
	.sidebar_layout_121414, 
	.sidebar_layout_131313, 
	.sidebar_layout_3414, 
	.sidebar_layout_1434, 
	.sidebar_layout_2313, 
	.sidebar_layout_1323, 
	.sidebar_layout_1212 {
		aside {
			width:round(100% - (@col_mar * 2), 2) !important;
		}
	}
	
	.cmsmasters_featured_block .featured_block_inner {
		width:100% !important;
	}
	
	.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap, 
	.cmsmasters_counters .cmsmasters_counter_wrap {
		&.one_third {
			width:50%;
		}
	}
	
	.cmsmasters_pricing_table {
		&.pricing_three {
			.cmsmasters_pricing_item {
				width:100%;
				float:none;
				.cl;
			}
		}
	}
	
	.cmsmasters_clients_grid {
		&.clients_five, 
		&.clients_four, 
		&.clients_three, 
		&.clients_two {
			.cmsmasters_clients_item {
				width:100%;
				float:none;
				.cl;
			}
		}
	}
	
	#header .header_mid {
		.header_mid_inner {
			padding:15px 0 0;
		}
		
		.logo_wrap {
			width:auto;
			float:none;
			margin:0 auto 15px;
			.tac;
			
			&:after {
				content:none;
			}
			
			.logo {
				img {
					position:static;
				}
			}
		}
		
		.social_wrap {
			.social_wrap_inner {
				.tac;
				
				li {
					margin:0 12px 0 0;
					
					&:last-child {
						margin:0;
					}
				}
			}
		}
		
		.slogan_wrap {
			.slogan_wrap_inner {
				.tac;
			}
		}
		
		.mid_nav_wrap {
			height:auto;
			float:none;
			margin:0 -@blocks_hor_pad;
			visibility:visible;
			.ovh;
			.cl;
			.op(1);
			
			nav {
				.dn;
			}
		}
	}
	
	#page {
		#header .header_mid .header_mid_inner_cont {
			width:100%;
			float:none;
			padding:10px 0 25px;
			.tac;
			
			> div {
				display:inline-block;
				vertical-align:middle;
				float:none;
				margin:0;
				padding:0 16px 10px;	
				.tac;
				.bd(0);
				
				&:last-child {
					margin:0;
				}
			}
		}
		
		&:not(.enable_header_bottom) {
			#header .header_mid .header_mid_inner_cont {
				padding:0;
				.display_flex;
				.flex_direction(row-reverse);
				.justify_content(space-between);
				.align_items(center);
				.bdt;
				.bdb;
				
				> div {
					width:100%;
					height:100%;
					padding:0;
					.bdl(0);
					.bdr;
					
					&:first-child {
						.bd(0);
					}
					
					> div:after, 
					&:after {
						content:none;
					}
					
					a {
						display:block;
						padding:23px 0;
						width:auto;
						height:auto;
						font-size:16px;
						line-height:16px;
						
						&:after {
							.valign_after;
						}
					}
				}
			}
		}
	}
	
	
	
	#header .header_bot {
		.resp_bot_nav_wrap {
			padding:15px 0;
		}
	}
	
	.cmsmasters_header_search_form {
		.cmsmasters_header_search_form_field {
			height:70px;
			
			button {
				font-size:26px;
				line-height:26px;
				width:85px;
			}
			
			@{input_text} {
				padding-right:80px;
				font-size:30px;
				line-height:40px;
			}
		}
	}
	
	.cmsmasters_footer_default {
		.footer_nav {
			display:block;
			.tac;
			
			> li {
				display:inline-block;
				float:none;
			}
		}
	}
	
	.cmsmasters_footer_small {
		.footer_nav_wrap {
			padding:0 0 10px;
			float:none;
			
			nav > div {
				.tac;
				
				&:after {
					content:none;
				}
			}
		}
		
		.footer_nav {
			display:block;
			.tac;
			
			> li {
				margin:0;
				padding:0 6px;
				display:inline-block;
				float:none;
			}
		}
		
		.social_wrap {
			padding:0 0 10px;
			float:none;
			
			.social_wrap_inner {
				.tac;
				
				&:after {
					content:none;
				}
			}
		}
		
		.footer_custom_html_wrap {
			padding:0 0 10px;
			float:none;
			
			.footer_custom_html {
				.tac;
			}
		}
		
		.footer_copyright {
			padding:0;
			.tac;
		}
	}
	
	#page .headline_outer {
		.headline_inner {
			padding:30px;
			
			.headline_aligner {
				.dn;
			}
			
			.headline_text {
				display:block;
				
				.headline_icon:before {
					margin:0 10px 0 0;
				}
			}
		}
	}
	
	.blog.timeline {
		height:auto !important;
		
		&:before {
			content:none;
		}
		
		.post {
			width:100%;
			padding-top:40px;
			position:relative !important;
			left:auto !important;
			right:auto !important;
			top:auto !important;
			bottom:auto !important;
			-webkit-transform:none !important;
			-moz-transform:none !important;
			-ms-transform:none !important;
			-o-transform:none !important;
			transform:none !important;
			
			&:first-child {
				padding-top:0;
			}
			
			&:before {
				content:none;
			}
			
			&.cmsmasters_timeline_left, 
			&.cmsmasters_timeline_right {
				.cmsmasters_timeline_margin {
					margin-left:0;
					margin-right:0;
				}
			}
		}
	}
	
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap_category > li, 
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap_archive > li, 
	.cmsmasters_sitemap_wrap .cmsmasters_sitemap > li > ul > li {
		display:block;
		width:100%;
		float:none;
	}
	
	.post_nav {
		> span {
			width:100%;
			
			&.cmsmasters_next_post, 
			&.cmsmasters_prev_post {
				float:none;
				display:block;
				padding:10px 0;
			}
		}
	}
	
	.cmsmasters_open_post .cmsmasters_post_date_wrap, 
	.cmsmasters_post_default .cmsmasters_post_date_wrap {
		float:none;
		width:100%;
		margin:0 0 10px;
		padding:0;
		.bd(0);
		
		.cmsmasters_post_date {
			.tal;
			
			span {
				display:inline-block;
				vertical-align:middle;
				margin:0 5px 0 0;
			}
		}
		
		& + .cmsmasters_post_content_wrap {
			padding:0;
			.bd(0);
		}
		
		&.sticky_icon {
			padding:0 0 0 40px;
			
			&:before {
				left:0;
				right:auto;
				top:0;
				bottom:0;
			}
		}
	}
	
	#page .cmsmasters_quotes_grid {
		.cmsmasters_quote_image {
			float:none;
			margin:0 0 20px;
			padding:0;
			.tac;
		}
		
		.cmsmasters_quote_header, 
		.cmsmasters_quote_subtitle_wrap {
			.tac;
		}
	}
	
	.quote_three.cmsmasters_quotes_grid {
		.cmsmasters_quote {
			width:100%;
			.bdb;
			
			&:nth-child(3n+3), 
			&:first-of-type:last-of-type {
				.bdb(0);
			}
			
			.cmsmasters_quote_header, 
			.cmsmasters_quote_subtitle_wrap	{
				.tac;
			}
		}
		
		.cmsmasters_quotes_vert {
			.dn;
		}
	}
	
	.bottom_bg {
		padding-top:40px;
		padding-bottom:20px;
	}
	
	.middle_content {
		padding:50px 0 0;
	}
	
	.post_nav {
		padding:30px 0 0;
	}
	
	#page .cmsmasters_post_timeline {
		.cmsmasters_post_info {
			top:0;
			margin:0 0 15px;
			position:relative;
			left:auto;
			right:auto;
			.tac;
			
			.cmsmasters_post_date {
				display:inline-block;
			}
		}
		
		.cmsmasters_post_cont:before {
			content:none;
		}
	}
	
	.cmsmasters_wrap_items_loader {
		padding:35px 0 0;
	}
	
	.cmsmasters_items_filter_wrap .cmsmasters_items_sort_block {
		padding:0;
		margin:0;
		float:none;
		
		.cmsmasters_items_sort_but {
			margin:0 20px 10px 0;
		}
	}
}



/*-------------------------------------------------------------------------*/
/* Tablet Monitor 600
/*-------------------------------------------------------------------------*/
@media @monitor_tablet_600 {
	.cmsmasters_responsive_width {
		width:600px;
	}
	
	html.cmsmasters_html {
		margin-top:0 !important;
		
		body.admin-bar {
			padding-top:46px;
		}
		
		.cmsmasters_header_search_form {
			top:0;
			bottom:0;
		}
	}
	
	.cmsmasters_profile_vertical {
		.cmsmasters_profile_content,
		.profile_outer {
			.tac;
		}
		
		.profile_outer {
			padding:20px;
		}
		
		.cmsmasters_profile_img_wrap {
			padding:0 0 25px;
			width:50%;
			min-width:200px;
			.tac;
			
			+ .profile_inner {
				width:auto;
				display:block;
			}
		}
		
		.cmsmasters_profile_header {
			float:none;
			.tac;
		}
		
		.profile_social_icons {
			float:none;
		}
		
		.profile_social_icons_list {
			.tac;
			
			li {
				margin:0 5px;
			}
		}
	}
	
	.cmsmasters_quotes_grid .cmsmasters_quote_inner {
		padding:48px 0 28px;
		
		* {
			.tac;
		}
	}
	
	.quote_two.cmsmasters_quotes_grid {
		.cmsmasters_quote {
			width:100%;
			
			&:first-child {
				.bdb;
			}
		}
		
		.cmsmasters_quotes_vert {
			.dn;
		}
	}
}



/*-------------------------------------------------------------------------*/
/* Phone Monitor
/*-------------------------------------------------------------------------*/
@media @monitor_phone {
	.cmsmasters_responsive_width {
		width:540px;
	}
	
	.cmsmasters_row_margin.cmsmasters_row_columns_behavior .cmsmasters_column .cmsmasters_column_inner {
		display:block;
	}
	
	.cmsmasters_tabs.tabs_mode_tab .cmsmasters_tabs_list_item {
		float:none;
	}
	
	.cmsmasters_twitter_wrap {
		.cmsmasters_twitter_item {
			padding:60px 0 5px;
		}
		
		.twr_icon {
			left:auto;
			right:auto;
			top:auto;
			bottom:auto;
			position:absolute;
		}
		
		.published {
			position:relative;
			overflow:hidden;
			left:auto;
			right:auto;
			top:auto;
			bottom:auto;
			padding:0;
		}
	}
	
	.cmsmasters_items_filter_wrap {
		padding:0 0 30px;
		
		.cmsmasters_items_filter_block {
			padding:0;
		}
	}
	
	.cmsmasters_comment_item {
		padding:15px;
	}
	
	.share_posts a {
		display:block;
	}
	
	.about_author .about_author_inner {
		display:block;
		.tac;
		
		.about_author_avatar {
			margin:0 0 15px;
		}
		
		.about_author_cont {
			.tac;
		}
	}
	
	.cmsmasters_mailpoet_form form {
		display:block;
		.tac;
		
		.wysija-paragraph {
			margin-right:0;
			margin-left:0;
		}
	}
	
	#page .gallery .gallery-item {
		width:round(100% - (@col_mar * 2), 2);
		float:none;
		clear:both;
	}
	
	.cmsmasters_stats.stats_mode_circles .cmsmasters_stat_wrap, 
	.cmsmasters_counters .cmsmasters_counter_wrap {
		&.one_fifth, 
		&.one_fourth, 
		&.one_third, 
		&.one_half {
			width:100%;
		}
	}
	
	.cmsmasters_pricing_table {
		&.pricing_four, 
		&.pricing_three, 
		&.pricing_two, 
		&.pricing_one {
			.cmsmasters_pricing_item {
				width:100%;
				float:none;
			}
		}
	}
	
	.cmsmasters_header_search_form {
		.cmsmasters_header_search_form_field {
			height:50px;
			
			button {
				font-size:22px;
				line-height:22px;
				width:80px;
			}
			
			@{input_text} {
				padding-right:75px;
				font-size:20px;
				line-height:30px;
			}
		}
	}
	
	.cmsmasters_footer_default {
		.footer_inner_cont {
			padding-top:25px;
			padding-bottom:25px;
		}
		
		.social_wrap, 
		.footer_custom_html_wrap {
			padding-top:20px;
		}
		
		.footer_custom_html {
			display:block;
		}
		
		.footer_nav_wrap {
			padding:16px 0 0;
			
			.menu-footer-navigation-container:after {
				content:none;
			}
		}
		
		.footer_copyright {
			padding:35px 0 0;
		}
	}
	
	#page .cmsmasters_tabs.tabs_mode_tour {
		display:block;
		
		> * {
			width:100%;
			display:block;
		}
		
		.cmsmasters_tab_inner {
			padding:20px 0;
			.bd(0);
			
			&:before {
				content:none;
			}
		}
	}
	
	#page {
		.content, 
		.sidebar {
			padding-top:30px;
			padding-bottom:30px;
		}
		
		.content_wrap.fullwidth {
			.middle_content {
				padding-bottom:30px;
			}
		}
	}
	
	.cmsmasters_mailpoet_form {
		form {
			.wysija-submit {
				min-width:100%;
				width:100%;
			}
		}
	}
	
	.cmsmasters-form-builder .cmsmasters_button {
		min-width:100px;
	}
}


@media @monitor_phone_400 {	
	.cmsmasters_quotes_slider.cmsmasters_quotes_slider_type_box {
		.cmsmasters_quote_inner_top {
			padding:10px 100px 0 22px;
		}
	
		.cmsmasters_quote_image {
			display:none;
		}
		
		.cmsmasters_quote_header {
			padding:0;
		}
	}
}



/*-------------------------------------------------------------------------*/
/* Small Phone Monitor
/*-------------------------------------------------------------------------*/
@media @monitor_phone_small {
	.cmsmasters_responsive_width {
		width:320px;
	}
	
	.post-password-form,
	.header_top_inner, 
	.header_mid_inner, 
	.header_bot_inner, 
	.content_wrap, 
	.headline_inner, 
	.bottom_outer, 
	.footer_inner_cont, 
	.cmsmasters_row_inner, 
	.cmsmasters_row_title_wrap {
		width: @cont_width_min;
	}
}
}

