.elementor-782 .elementor-element.elementor-element-b9f3077 .elementor-divider-separator{border-top-style:solid;border-top-width:1px;width:100%;}.elementor-782 .elementor-element.elementor-element-b9f3077 .elementor-divider{padding-top:15px;padding-bottom:15px;}