/**
 * @package 	WordPress
 * @subpackage 	Galleria Metropolia
 * @version		1.0.0
 * 
 * WooCommerce Responsive CSS Rules
 * Created by CMSMasters
 * 
 */
@media only screen {
  /*-------------------------------------------------------------------------*/
  /* Large Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Medium Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Tablet Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Small Tablet Monitor
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /*	Tablet Monitor 600
/*-------------------------------------------------------------------------*/
  /*-------------------------------------------------------------------------*/
  /* Phone Monitor
/*-------------------------------------------------------------------------*/
}
@media only screen and (min-width: 1440px) {
  ul.order_details li {
    padding: 15px 30px;
  }
  ul.order_details li strong {
    margin: 15px -30px -15px;
    padding: 15px 30px;
    border-color: inherit;
  }
}
@media only screen and (min-width: 950px) and (max-width: 1440px) {
  .widget_shopping_cart .cart_list img {
    width: 50px;
    height: 50px;
  }
  .widget_shopping_cart .cart_list li:hover img {
    right: 20px;
    left: auto;
  }
  .widget_price_filter .price_slider_amount .price_label {
    width: 100%;
  }
  .widget_price_filter .price_slider_amount .button {
    float: none;
  }
  .widget_shopping_cart .cart_list li {
    padding: 10px 75px 10px 0;
  }
  .widget_price_filter .price_slider_amount .button {
    float: none;
    transform: translate(0, 100%);
  }
  .widget_price_filter .price_slider_amount .price_label {
    transform: translate(0, -100%);
  }
}
@media only screen and (min-width: 1025px) {
  .cmsmasters_products {
    outline: none;
  }
  .cmsmasters_dynamic_cart_wrap {
    margin: 0 0 0 -1px;
    padding: 0;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-width: 1px;
    border-right-style: solid;
  }
  .cmsmasters_dynamic_cart_wrap .cmsmasters_dynamic_cart_button {
    padding: 0 20px;
  }
}
@media only screen and (max-width: 1024px) {
  #page .cmsmasters_dynamic_cart {
    display: none !important;
  }
  #header .header_mid .cmsmasters_header_cart_link_wrap {
    display: block;
    height: 100%;
    margin: 0;
    padding: 0 35px;
    position: relative;
    float: right;
    border-left-width: 1px;
    border-left-style: solid;
    border-right-width: 0;
    border-right-style: solid;
  }
  #header .header_mid .cmsmasters_header_cart_link_wrap:after {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  #header .header_mid .cmsmasters_header_cart_link_wrap .cmsmasters_header_cart_link {
    font-size: 16px;
    line-height: 16px;
    width: 20px;
    height: 20px;
    margin: 0;
    cursor: pointer;
    display: inline-block;
    position: relative;
    vertical-align: middle;
  }
  #header .header_mid .cmsmasters_header_cart_link_wrap .cmsmasters_header_cart_link:before {
    width: 1em;
    height: 1em;
    margin: auto !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  #page.enable_header_centered #header .header_mid_inner .cmsmasters_header_cart_link_wrap {
    padding: 10px 0;
    float: none;
    border-width: 0;
    border-style: solid;
    text-align: center;
  }
  .cmsmasters_products.columns-6 .product {
    width: 29.89%;
  }
  .cmsmasters_products.columns-6 .product:nth-child(6n+1) {
    clear: none;
  }
  .cmsmasters_products.columns-6 .product:nth-child(3n+1) {
    clear: left;
  }
  .cmsmasters_products.columns-5 .product {
    width: 29.89%;
  }
  .cmsmasters_products.columns-5 .product:nth-child(5n+1) {
    clear: none;
  }
  .cmsmasters_products.columns-5 .product:nth-child(3n+1) {
    clear: left;
  }
  .cmsmasters_products.columns-4 .product {
    width: 46.56%;
  }
  .cmsmasters_products.columns-4 .product:nth-child(4n+1) {
    clear: none;
  }
  .cmsmasters_products.columns-4 .product:nth-child(2n+1) {
    clear: left;
  }
  ul.order_details {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  ul.order_details li {
    width: 50%;
  }
  ul.order_details li.woocommerce-order-overview__payment-method strong {
    border-width: 0;
    border-style: solid;
  }
  ul.order_details li:nth-child(5) {
    width: 100%;
  }
  ul.order_details li:not(:last-child) strong {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-top-width: 0;
    border-top-style: solid;
  }
  .cmsmasters_product .button_to_cart_wrap {
    margin-top: 5px;
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    width: auto;
    visibility: visible;
    opacity: 1;
  }
  #page .cmsmasters_product .price {
    visibility: visible;
    opacity: 1;
  }
}
@media only screen and (max-width: 950px) {
  #page .widget_shopping_cart .cart_list li {
    padding: 10px 0 10px 115px;
  }
  #page .widget_shopping_cart .cart_list li img {
    right: auto;
    left: 0;
  }
  #page .widget_shopping_cart .cart_list li:hover img {
    right: auto;
    left: 28px;
  }
  #page .widget_shopping_cart .cart_list li .remove {
    right: auto;
    left: 0;
  }
  #page .widget_shopping_cart .buttons {
    margin: 0;
  }
  #page .widget_shopping_cart .buttons .button {
    width: auto;
    padding: 0 20px;
    margin: 0 20px 20px 0;
  }
  #page .widget > .product_list_widget li {
    padding: 0 0 0 100px;
  }
  #page .widget > .product_list_widget li img {
    right: auto;
    left: 0;
  }
}
@media only screen and (max-width: 768px) {
  .cmsmasters_dynamic_cart_wrap {
    margin: 0 15px 15px;
    float: none;
    display: inline-block;
    vertical-align: middle;
  }
  .cmsmasters_dynamic_cart,
  .cmsmasters_dynamic_cart .cmsmasters_dynamic_cart_button {
    display: inline-block;
    vertical-align: middle;
  }
  .col2-set > * {
    width: 96.56%;
    margin-bottom: 40px;
    float: none;
    clear: both;
  }
  .col2-set > *:last-child {
    margin-bottom: 0;
  }
  .cmsmasters_single_product .cmsmasters_product_left_column {
    width: 100%;
    float: none;
    padding: 0 0 40px;
  }
  .cmsmasters_single_product .cmsmasters_product_right_column {
    width: 100%;
    float: none;
    padding: 0;
  }
  .shop_table.cart {
    display: block;
    text-align: center;
    overflow: hidden;
  }
  .shop_table.cart tbody,
  .shop_table.cart tr,
  .shop_table.cart th,
  .shop_table.cart td {
    display: block;
    text-align: center;
    overflow: hidden;
  }
  .shop_table.cart thead {
    display: none;
  }
  .shop_table.cart .cart_item {
    padding: 20px 0;
    position: relative;
  }
  .shop_table.cart .cart_item th,
  .shop_table.cart .cart_item td {
    border-width: 0;
    border-style: solid;
  }
  .shop_table.cart td {
    padding: 15px;
    border-width: 0;
    border-style: solid;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .shop_table.cart td.product-name {
    border-top-width: 1px;
    border-top-style: solid;
  }
  .shop_table.cart td.product-price,
  .shop_table.cart td.product-quantity,
  .shop_table.cart td.product-subtotal {
    border-width: 0;
    border-style: solid;
  }
  .shop_table.cart .product-remove {
    padding: 0;
    position: absolute;
    left: auto;
    right: 0;
    top: 20px;
    z-index: 1;
  }
  .shop_table.cart .product-thumbnail {
    width: auto;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .shop_table.cart .product-thumbnail img {
    width: 80px;
    height: 80px;
  }
  .shop_table.cart .product-price,
  .shop_table.cart .product-quantity,
  .shop_table.cart .product-subtotal {
    display: inline-block;
    width: 33.33%;
    margin: 0 -2px;
    vertical-align: middle;
  }
  .shop_table.cart .product-price {
    text-align: right;
  }
  .shop_table.cart .product-quantity {
    padding-left: 0;
    padding-right: 0;
  }
  .shop_table.cart .product-subtotal {
    text-align: left;
  }
  .shop_table.cart .actions {
    text-align: center;
  }
  .shop_table.cart .actions .coupon {
    padding: 0 0 20px;
    float: none;
    text-align: center;
  }
  .shop_table.cart .actions .coupon input {
    float: none;
  }
  .shop_table.cart .actions .input-text {
    display: block;
    margin: 0 auto 10px;
    width: 100%;
  }
  .woocommerce-order-pay .shop_table th,
  .shop_table.woocommerce-checkout-review-order-table th,
  .shop_table.order_details th,
  .woocommerce-order-pay .shop_table td,
  .shop_table.woocommerce-checkout-review-order-table td,
  .shop_table.order_details td {
    padding: 10px 15px;
  }
  .cart_totals table {
    width: 100%;
  }
  ul.order_details li {
    padding: 10px 15px;
    position: relative;
    float: left;
    overflow: hidden;
  }
  ul.order_details li:before {
    content: none;
  }
  ul.order_details li strong {
    display: block;
    margin: 10px -15px -10px;
    padding: 10px 15px;
  }
}
@media only screen and (max-width: 600px) {
  .cmsmasters_products.columns-6 .product,
  .cmsmasters_products.columns-5 .product,
  .cmsmasters_products.columns-3 .product {
    width: 96.56%;
    float: none;
  }
  .cmsmasters_products.columns-6 .product:nth-child(n),
  .cmsmasters_products.columns-5 .product:nth-child(n),
  .cmsmasters_products.columns-3 .product:nth-child(n) {
    clear: both;
  }
}
@media only screen and (max-width: 540px) {
  .cmsmasters_products.columns-6 .product,
  .cmsmasters_products.columns-5 .product,
  .cmsmasters_products.columns-4 .product,
  .cmsmasters_products.columns-3 .product,
  .cmsmasters_products.columns-2 .product {
    width: 96.56%;
    float: none;
  }
  .cmsmasters_products.columns-6 .product:nth-child(n),
  .cmsmasters_products.columns-5 .product:nth-child(n),
  .cmsmasters_products.columns-4 .product:nth-child(n),
  .cmsmasters_products.columns-3 .product:nth-child(n),
  .cmsmasters_products.columns-2 .product:nth-child(n) {
    clear: both;
  }
  .form-row {
    width: 96.56%;
    float: none;
    clear: both;
  }
  .woocommerce-checkout-payment .place-order .terms {
    display: block;
    padding: 15px 0 0;
  }
  .woocommerce-message,
  .woocommerce-info,
  .woocommerce-error {
    display: block;
    text-align: center;
  }
  .woocommerce-message .button,
  .woocommerce-info .button,
  .woocommerce-error .button {
    display: block;
    margin: 10px 0;
    text-align: center;
  }
  table.variations select {
    display: block;
  }
  table.variations .reset_variations {
    display: inline-block;
    margin: 10px 0 0;
  }
  .cmsmasters_woo_wrap_result .woocommerce-result-count {
    padding: 0 10px 20px;
    float: none;
    text-align: center;
  }
  .cmsmasters_woo_wrap_result .woocommerce-ordering {
    float: none;
  }
  .cmsmasters_single_product .cmsmasters_product_thumbs .cmsmasters_product_thumb {
    width: 60px;
  }
  .cmsmasters_single_product .cmsmasters_product_info_wrap {
    float: none;
    padding: 0 0 30px;
    text-align: left;
  }
  .cmsmasters_single_product .price {
    text-align: left;
  }
  .cmsmasters_single_product .cmsmasters_star_rating {
    float: none;
  }
  .woocommerce-checkout-payment {
    padding: 20px 15px;
  }
  ul.order_details li {
    width: 100%;
    float: none;
  }
  #page .cmsmasters_single_product .cart * {
    margin: 0 0 10px;
    width: 100%;
    float: none;
  }
}
